In [1]:
import pandas as pd   # For data manipulation and analysis
import numpy as np    # For numerical operations

In [2]:
df = pd.read_csv("Naukri Jobs Data.csv")

In [3]:
df.shape

(32738, 10)

In [4]:
df= df.head(10000)

In [5]:
df.head()

,job_post,company,company_rating,company_review,exp_required,salary_offered,job_location,job_description,required_skills,Posted_as_on_22_5_2022
0,Information Technology Executive,Marriott,4.2,(2907 Reviews),0-3 Yrs,Not disclosed,Bhopal,POSITION SUMMARY Troubleshoot and resolve tech...,Supervisor\r\nAdministration\r\nTactical plann...,5 DAYS AGO
1,Associate Director-Information Technology(SAP),Unacademy,3.4,(544 Reviews),5-15 Yrs,Not disclosed,"Noida, Greater Noida",Support / manage timely delivery of custom dev...,Relationship management\r\nSAP MM\r\nPharma\r\...,3 DAYS AGO
2,Lead - Information Technology,EchoIndia,4.0,(20 Reviews),11-13 Yrs,Not disclosed,Delhi / NCR,Experience in designing modern REST APIs that ...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...,1 DAY AGO
3,Information Technology - Project Manager,Tata International,4.1,(287 Reviews),4-8 Yrs,Not disclosed,Mumbai (All Areas),Should be able to manage a project using vario...,project management\r\nit projects\r\ninformati...,2 DAYS AGO
4,Information Technology Trainee,Stefanini,3.8,(75 Reviews),2-7 Yrs,Not disclosed,Noida,The resource will be expected to cross skill\t...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...,4 DAYS AGO

In [6]:
df['required_skills'][1]

'Relationship management\r\nSAP MM\r\nPharma\r\nAnalytical\r\nIPR\r\nSCM\r\nInformation technology\r\nAnalytics'

In [7]:
df.isnull().sum()

job_post                  0
company                   0
company_rating            0
company_review            0
exp_required              0
salary_offered            0
job_location              0
job_description           0
required_skills           0
Posted_as_on_22_5_2022    3
dtype: int64

In [8]:
df.duplicated().sum()

1503

In [9]:
df.drop_duplicates(inplace=True)

In [10]:
df.shape

(8497, 10)

In [11]:
columns_to_drop = ['company_review', 'Posted_as_on_22_5_2022','job_description']
df = df.drop(columns=columns_to_drop)

In [12]:
df.head()

,job_post,company,company_rating,exp_required,salary_offered,job_location,required_skills
0,Information Technology Executive,Marriott,4.2,0-3 Yrs,Not disclosed,Bhopal,Supervisor\r\nAdministration\r\nTactical plann...
1,Associate Director-Information Technology(SAP),Unacademy,3.4,5-15 Yrs,Not disclosed,"Noida, Greater Noida",Relationship management\r\nSAP MM\r\nPharma\r\...
2,Lead - Information Technology,EchoIndia,4.0,11-13 Yrs,Not disclosed,Delhi / NCR,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...
3,Information Technology - Project Manager,Tata International,4.1,4-8 Yrs,Not disclosed,Mumbai (All Areas),project management\r\nit projects\r\ninformati...
4,Information Technology Trainee,Stefanini,3.8,2-7 Yrs,Not disclosed,Noida,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...

In [13]:
df.isnull().sum()

job_post           0
company            0
company_rating     0
exp_required       0
salary_offered     0
job_location       0
required_skills    0
dtype: int64

In [14]:
df['job_location'] = df['job_location'].str.lower()
df['required_skills'] = df['required_skills'].str.lower()

In [15]:
df['required_skills'] = df['required_skills'].str.split('\r\n')

In [16]:
df['required_skills'] = df['required_skills'].apply(lambda x:[i.replace(" ","")for i in x])

In [17]:
# df['required_skills'] = df['required_skills'].apply(lambda x: x[:7])

In [18]:
df.head()

,job_post,company,company_rating,exp_required,salary_offered,job_location,required_skills
0,Information Technology Executive,Marriott,4.2,0-3 Yrs,Not disclosed,bhopal,"[supervisor, administration, tacticalplanning,..."
1,Associate Director-Information Technology(SAP),Unacademy,3.4,5-15 Yrs,Not disclosed,"noida, greater noida","[relationshipmanagement, sapmm, pharma, analyt..."
2,Lead - Information Technology,EchoIndia,4.0,11-13 Yrs,Not disclosed,delhi / ncr,"[spring, docker, systemdesign, paas, microserv..."
3,Information Technology - Project Manager,Tata International,4.1,4-8 Yrs,Not disclosed,mumbai (all areas),"[projectmanagement, itprojects, informationtec..."
4,Information Technology Trainee,Stefanini,3.8,2-7 Yrs,Not disclosed,noida,"[pop, training, basic, networking, intern, iti..."

In [19]:
# df = df.drop(columns=['company','company_rating','exp_required','salary_offered','job_location'])

In [20]:
old_df=df

In [21]:
# Assuming your DataFrame is named 'df'
df['required_skills'] = df['required_skills'].apply(lambda x: ' '.join(x))

In [22]:
df['required_skills'][1]

'relationshipmanagement sapmm pharma analytical ipr scm informationtechnology analytics'

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

# Assuming your DataFrame is named 'df' with 'required_skills' and 'job_post' columns

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['required_skills'], df['job_post'], test_size=0.2, random_state=42)

In [24]:
# Transforming the text data into numerical features
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

# Training the Linear Support Vector Machine (SVM) model
model = LinearSVC()
model.fit(X_train, y_train)

LinearSVC()

In [26]:
# Exporting the trained model as a .pkl file
import joblib
joblib.dump(model, 'job_post_prediction_model.pkl')

['job_post_prediction_model.pkl']

In [27]:
# Evaluating the model
accuracy = model.score(X_test, y_test)
print("Model Accuracy:", accuracy)

# Predicting the job_post based on required_skills
required_skills = ['relationshipmanagement','sapmm', 'pharma','analytical','ipr','scm','informationtechnology','analytics']  # Example required_skills list
required_skills_transformed = vectorizer.transform(required_skills)
predicted_job_post = model.predict(required_skills_transformed)
predicted_job_post =list(set(predicted_job_post))
print("Predicted job_post:", predicted_job_post)

Model Accuracy: 0.1676470588235294
Predicted job_post: ['Software Engineer - ABAP with UI5', 'Lead Software Engineer', 'Clinical SAS, Software Engineer/Programmer', 'Associate Director-Information Technology(SAP)', 'Principal Engineer', 'Associate Manager-Business Operations', 'Principal Software Engineering Manager', 'Frontend Angular -Senior Software Engineer']

In [12]:
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [13]:
## Define functions for text cleaning and preprocessing

In [14]:
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove special characters and digits
    text = re.sub('[^a-zA-Z]', ' ', text)
    
    # Remove extra whitespaces
    text = re.sub('\s+', ' ', text)
    
    return text

In [15]:
text_columns = ['job_post', 'job_location', 'job_description']

for column in text_columns:
    # Clean text
    df[column] = df[column].apply(clean_text)

In [18]:
df.head()

,job_post,company,company_rating,exp_required,salary_offered,job_location,required_skills
0,Information Technology Executive,Marriott,4.2,0-3 Yrs,Not disclosed,bhopal,"[supervisor, administration, tactical planning..."
1,Associate Director-Information Technology(SAP),Unacademy,3.4,5-15 Yrs,Not disclosed,"noida, greater noida","[relationship management, sap mm, pharma, anal..."
2,Lead - Information Technology,EchoIndia,4.0,11-13 Yrs,Not disclosed,delhi / ncr,"[spring, docker, system design, paas, microser..."
3,Information Technology - Project Manager,Tata International,4.1,4-8 Yrs,Not disclosed,mumbai (all areas),"[project management, it projects, information ..."
4,Information Technology Trainee,Stefanini,3.8,2-7 Yrs,Not disclosed,noida,"[pop, training, basic, networking, intern, it ..."

In [17]:
def remove_stopwords(text):
    # Tokenize text
    tokens = text.split()
    
    # Remove stopwords
    stopwords_list = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token not in stopwords_list]
    
    # Join filtered tokens back into text
    filtered_text = ' '.join(filtered_tokens)
    
    return filtered_text

In [18]:
for column in text_columns:
    # Remove stopwords
    df[column] = df[column].apply(remove_stopwords)

In [19]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,information technology executive,Marriott,0-3 Yrs,Not disclosed,bhopal,position summary troubleshoot resolve technica...,Supervisor\r\nAdministration\r\nTactical plann...
1,associate director information technology sap,Unacademy,5-15 Yrs,Not disclosed,noida greater noida,support manage timely delivery custom develope...,Relationship management\r\nSAP MM\r\nPharma\r\...
2,lead information technology,EchoIndia,11-13 Yrs,Not disclosed,delhi ncr,experience designing modern rest apis scale ho...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...
3,information technology project manager,Tata International,4-8 Yrs,Not disclosed,mumbai areas,able manage project using various methodologie...,project management\r\nit projects\r\ninformati...
4,information technology trainee,Stefanini,2-7 Yrs,Not disclosed,noida,resource expected cross skill train support mu...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...

In [20]:
#example for demonstration
remove_stopwords('Hi this is a job finder model')

'Hi job finder model'

In [21]:
# Define the categorical columns
categorical_columns = ['exp_required', 'salary_offered']

# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)

# Print the encoded DataFrame
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\r\nAdministration\r\nTactical plann...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\r\nSAP MM\r\nPharma\r\...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\r\nit projects\r\ninformati...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [22]:
df.shape

(27985, 7)

In [23]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,information technology executive,Marriott,0-3 Yrs,Not disclosed,bhopal,position summary troubleshoot resolve technica...,Supervisor\r\nAdministration\r\nTactical plann...
1,associate director information technology sap,Unacademy,5-15 Yrs,Not disclosed,noida greater noida,support manage timely delivery custom develope...,Relationship management\r\nSAP MM\r\nPharma\r\...
2,lead information technology,EchoIndia,11-13 Yrs,Not disclosed,delhi ncr,experience designing modern rest apis scale ho...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...
3,information technology project manager,Tata International,4-8 Yrs,Not disclosed,mumbai areas,able manage project using various methodologie...,project management\r\nit projects\r\ninformati...
4,information technology trainee,Stefanini,2-7 Yrs,Not disclosed,noida,resource expected cross skill train support mu...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...

In [24]:
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\r\nAdministration\r\nTactical plann...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\r\nSAP MM\r\nPharma\r\...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\r\nit projects\r\ninformati...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
from sklearn.preprocessing import MinMaxScaler

# Get the list of numerical column names
numerical_columns = df_encoded.select_dtypes(include='number').columns.tolist()

# Create a MinMaxScaler instance
scaler = MinMaxScaler()

# Apply Min-Max Scaling to the numerical columns
df_encoded[numerical_columns] = scaler.fit_transform(df_encoded[numerical_columns])

# Display the normalized dataset
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\r\nAdministration\r\nTactical plann...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\r\nSAP MM\r\nPharma\r\...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\r\nDocker\r\nSystem Design\r\nPaaS\r\nM...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\r\nit projects\r\ninformati...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\r\nTraining\r\nBasic\r\nNetworking\r\nInte...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
df_encoded.shape

(27985, 615)

In [27]:
#df is result after stopwords removal and df_encoded is after doing one hot enocding

In [29]:
from sklearn.model_selection import train_test_split

# Specify the features and target variable
target = 'job_post'
features = df_encoded.columns.drop(target)


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_encoded[features], df_encoded[target], test_size=0.2, random_state=42)

# Display the shapes of the training and testing sets
print("Training data shape:", X_train.shape)
print("Testing data shape:", X_test.shape)

Training data shape: (22388, 614)
Testing data shape: (5597, 614)

In [36]:
# Check the column names in the dataframe
print(df_encoded.columns)

# Verify that the target column is present
print(target in df_encoded.columns)

# Verify that all features columns are present
print(all(feature in df_encoded.columns for feature in features))

Index(['job_post', 'company', 'job_location', 'job_description',
       'required_skills', 'exp_required_0-0 Yrs', 'exp_required_0-1 Yrs',
       'exp_required_0-10 Yrs', 'exp_required_0-11 Yrs',
       'exp_required_0-12 Yrs',
       ...
       'salary_offered_9,00,000 - 15,00,000 PA.',
       'salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)',
       'salary_offered_9,00,000 - 16,00,000 PA.',
       'salary_offered_9,00,000 - 17,00,000 PA.',
       'salary_offered_9,00,000 - 18,00,000 PA.',
       'salary_offered_9,00,000 - 19,00,000 PA.',
       'salary_offered_9,50,000 - 12,00,000 PA.',
       'salary_offered_9,50,000 - 19,50,000 PA.',
       'salary_offered_90,000 - 2,25,000 PA.', 'salary_offered_Not disclosed'],
      dtype='object', length=615)
True
True