In [1]:
import pandas as pd   # For data manipulation and analysis
import numpy as np    # For numerical operations

In [2]:
df = pd.read_csv("Naukri Jobs Data.csv")

In [3]:
df.shape

(32738, 10)

In [4]:
df.head()

,job_post,company,company_rating,company_review,exp_required,salary_offered,job_location,job_description,required_skills,Posted_as_on_22_5_2022
0,Information Technology Executive,Marriott,4.2,(2907 Reviews),0-3 Yrs,Not disclosed,Bhopal,POSITION SUMMARY Troubleshoot and resolve tech...,Supervisor\nAdministration\nTactical planning\...,5 DAYS AGO
1,Associate Director-Information Technology(SAP),Unacademy,3.4,(544 Reviews),5-15 Yrs,Not disclosed,"Noida, Greater Noida",Support / manage timely delivery of custom dev...,Relationship management\nSAP MM\nPharma\nAnaly...,3 DAYS AGO
2,Lead - Information Technology,EchoIndia,4.0,(20 Reviews),11-13 Yrs,Not disclosed,Delhi / NCR,Experience in designing modern REST APIs that ...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...,1 DAY AGO
3,Information Technology - Project Manager,Tata International,4.1,(287 Reviews),4-8 Yrs,Not disclosed,Mumbai (All Areas),Should be able to manage a project using vario...,project management\nit projects\ninformation t...,2 DAYS AGO
4,Information Technology Trainee,Stefanini,3.8,(75 Reviews),2-7 Yrs,Not disclosed,Noida,The resource will be expected to cross skill\t...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...,4 DAYS AGO

In [5]:
df.isnull().sum()

job_post                    0
company                     0
company_rating              0
company_review              0
exp_required                0
salary_offered              0
job_location                0
job_description             0
required_skills             0
Posted_as_on_22_5_2022    186
dtype: int64

In [6]:
df.duplicated().sum()

4753

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(27985, 10)